@model src.Models.CurrentLedger
@{
    Layout = null;
}
<style>

    .default {
        display: none;
    }
    hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Salary ledger</h4>
</div>

<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        @*<input type="text" asp-for="IdNumber" />
        <input type="text" asp-for="FullName" />*@
        @*<input type="text" asp-for="Email" />*@

        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="DateAndTime" class="control-label">Date: </label>
                <label class="text-warning">@Model.DateAndTime.Value.ToString("MMMM yyyy")</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="IdNumber" class="control-label">Id: </label>
                <label class="text-warning">@Model.IdNumber</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="FullName" class="control-label">Full name: </label>
                <label class="text-warning">@Model.FullName</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="TotalBasicPay" class="control-label">Basic pay: </label>
                <label class="text-warning">@Model.TotalBasicPay</label>
            </div>
        </div><hr />
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="DaysOfWorkBP" class="control-label">Days of work: </label>
                <label class="text-warning">@Model.DaysOfWorkBP</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="TotalAmountBP" class="control-label">Total regular wage: </label>
                <label class="text-warning">@Model.TotalAmountBP</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="NumberOfMinOT" class="control-label">Overtime (minutes): </label>
                <label class="text-warning">@Model.NumberOfMinOT</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="AmountOT" class="control-label">Overtime amount: </label>
                <label class="text-warning">@Model.AmountOT</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="NumberOfMinSundays" class="control-label">Sunday (minutes): </label>
                <label class="text-warning">@Model.NumberOfMinSundays</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="AmountSundays" class="control-label">Sunday amount: </label>
                <label class="text-warning">@Model.AmountSundays</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="NumberOfHrsSH" class="control-label">Special holiday (hours): </label>
                <label class="text-warning">@Model.NumberOfHrsSH</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="AmountSH" class="control-label">Special holiday amount: </label>
                <label class="text-warning">@Model.AmountSH</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="NumberOfDaysRH" class="control-label">Regular holiday (days): </label>
                <label class="text-warning">@Model.NumberOfDaysRH</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="AmountRH" class="control-label">Regular holiday amount: </label>
                <label class="text-warning">@Model.AmountRH</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="AddAdjustment" class="control-label">Add adjustment: </label>
                <label class="text-warning">@Model.AddAdjustment</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="LessAdjustment" class="control-label">Less adjustment: </label>
                <label class="text-warning">@Model.LessAdjustment</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="NumberOfMinTardiness" class="control-label">Tardiness (minutes): </label>
                <label class="text-warning">@Model.NumberOfMinTardiness</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="AmountTardiness" class="control-label">Tardiness amount: </label>
                <label class="text-warning">@Model.AmountTardiness</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="GrossPayPayslip" class="control-label">GrossPay: </label>
                <label class="text-warning">@Model.GrossPayPayslip</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="Charges1" class="control-label">Charges: </label>
                <label class="text-warning">@Model.Charges1</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="CashOut" class="control-label">Cash out: </label>
                <label class="text-warning">@Model.CashOut</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="SalaryLoan" class="control-label">Salary loan: </label>
                <label class="text-warning">@Model.SalaryLoan</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="PaymentPlan" class="control-label">Payment plan: </label>
                <label class="text-warning">@Model.PaymentPlan</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="LoanAmount" class="control-label">Loan amount: </label>
                <label class="text-warning">@Model.LoanAmount</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="LoanBalance" class="control-label">Loan balance: </label>
                <label class="text-warning">@Model.LoanBalance</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="PhilHealthEmployee" class="control-label">Phil health: </label>
                <label class="text-warning">@Model.PhilHealthEmployee</label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="PagibigEmployee" class="control-label">Pag-ibig: </label>
                <label class="text-warning">@Model.PagibigEmployee</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="SSSEmployee" class="control-label">SSS: </label>
                <label class="text-warning">@Model.SSSEmployee</label>
            </div>
        </div><hr />

        <div class="row">
            <div class="form-group col-lg-6">
                <label asp-for="TotalDeductions" class="control-label">TotalDeductions: </label>
                <label class="text-warning">@Model.TotalDeductions</label>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="NetAmountPaid" class="control-label">NetAmountPaid: </label>
                <label class="text-warning">@Model.NetAmountPaid</label>
            </div>
        </div>

    </div>

        <div class="box-footer">
            @*<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Submit</button>*@
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });
</script>



