<!DOCTYPE html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var org = ViewData["org"];
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    var fullName = appUser != null ? appUser.FullName : "Untitled";
    var profilePicture = appUser != null ? appUser.ProfilePictureUrl : "#";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cignal Payroll System | @ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!--jqueryUI-->
        <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" />
        <!--datatables.net-->
        <link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
        <!--toastr-->
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <!--sweetalert-->
        <link rel="stylesheet" href="~/lib/sweetalert/sweetalert.css" />
        <!--fontawesome-->
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />

    <!-- Ladda style -->
    <link rel="stylesheet" href="~/lib/ladda/ladda-themeless.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/adminlte/css/skins/_all-skins.min.css">
    <!--blueimp file upload-->
    <link rel="stylesheet" href="~/lib/jQuery-File-Upload-9.21.0/css/jquery.fileupload.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @RenderSection("Styles", required: false)

    <style>
        .user-panel {
            position: relative;
            width: 100%;
            padding: 8px !important;
            overflow: hidden;
        }
    </style>

</head>
<body class="hold-transition skin-blue fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            @Html.Partial("_Logo")
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- User Account: style can be found in dropdown.less -->
                        @Html.Partial("_ProfileSignout")

                    </ul>
                </div>
            </nav>
        </header>
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                @Html.Partial("_UserPanel")

                @if (appUser != null)
                {
                    <ul class="sidebar-menu" data-widget="tree">
                        
                            <li class="header">NAVIGATION BAR</li>
                            <li class="@Html.IsSelected(controller: "Config")">
                                <a href="@Url.Action("UserUploadPhoto", "Config", new { org = org })">
                                    <i class="fa fa-upload"></i> <span>Upload</span>
                                </a>
                            </li>
                    </ul>
                }

            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_Footer")

    </div>
    <!-- ./wrapper -->

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!--jqueryUI-->
        <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <!--datatables.net-->
        <script src="~/lib/DataTables/datatables.min.js"></script>
        <!--serializeJSON-->
        <script src="~/lib/marioizquierdo-jquery.serializeJSON/jquery.serializejson.min.js"></script>
        <!--toastr-->
        <script src="~/lib/toastr/toastr.min.js"></script>
        <!--sweetalert-->
        <script src="~/lib/sweetalert/sweetalert.min.js"></script>

    <!-- Ladda -->
    <script src="~/lib/ladda/spin.min.js"></script>
    <script src="~/lib/ladda/ladda.min.js"></script>
    <script src="~/lib/ladda/ladda.jquery.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/js/adminlte.min.js"></script>
    <!--blueimp file upload-->
    <script src="~/lib/jQuery-File-Upload-9.21.0/js/jquery.fileupload.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        })
    </script>
</body>
</html>
